@charset "utf-8";

/* common class */
.screen_out { display:block; width:0; height:0; overflow:hidden; text-indent:-9999px; }
.hide { display:none; }
.clearfix::after { content:'.'; display:block; width:0; height:0; overflow:hidden; clear:both; }

/* layout */
.box_width { width:1022px; margin:0 auto; position:relative; }
#headerWrap { border-top:5px solid #DF107D; border-bottom:1px solid #e1e1e1; }
#header { height:110px; }
#nav { float:right; margin:20px 0 0 0; }
#visual {  }
#mainContents { padding:20px 0;	}
#footerWrap { background-color:#333; clear:both; color:#e4e4e4; }
#footer { height:150px; }

/* header */
#skipNav { display:none; }
.logo { position:absolute; left:0; top:50px; z-index:1; }
.top { float:right; padding-top:10px; }
.t_menu { float:left; overflow:hidden; display:block; width:300px; padding-top:5px; }
.t_menu li { display:inline; background:url(../img/line-bg.png) repeat-y left top; padding:0 5px 0 7px;
		     margin-left:-2px; white-space:nowrap; } 
.t_menu li a {  }
.t_menu .tm_green a { color:#046700; }

/* search */
.search_area { float:left; width:176px; height:25px; }
.search_area input, .search_area button { float:left; }
.search_area #inputSch { width:148px; border:1px solid #ddd; height:23px; padding:0 10px; }
.search_area #btnSch { width:28px; height:23px; background:url(../img/search-icon.png) no-repeat center center #969395;
border:1px solid #ddd; text-indent:-9999px; overflow:hidden; margin-left:-1px; }

/* nav */
.gnb { width:787px; height:25px }
.gnb > li { width:175px; float:left; position:relative; background:url(../img/line-bg.png) repeat-y right top ;  }
.gnb .m4 { background:none; }
.gnb > li > a { display:block; height:25px; width:170px; background:url(../img/gnbsnb.gif) no-repeat ; text-indent:-9999px; overflow:hidden; }
.gnb .m1 a { background-position:50px 0; }
.gnb .m2 a { background-position:-120px 0; }
.gnb .m3 a { background-position:-290px 0; }
.gnb .m4 a { background-position:-460px 0; }
.gnb .m5, .gnb .m5 a { width:87px; text-indent:0; }
.gnb .m1 a:hover { background-position:50px -25px; }
.gnb .m2 a:hover { background-position:-120px -25px; }
.gnb .m3 a:hover { background-position:-290px -25px; }
.gnb .m4 a:hover { background-position:-460px -25px; }

.gnb .gnb_sub { position:absolute; width:175px; height:120px; text-align:center; z-index:10; left:0; top:60;
	            padding:14px 0 20px 0; display:none; }
.gnb .gnb_sub li a { display:block; line-height:20px; }
.gnb .gnb_sub li a:hover { color:#DF107D; }

/* footer */
.f_menu { padding:24px 0 16px 0; }
.f_menu li { display:inline-block; padding:0 7px 0 5px; border-right:1px solid #9e9e9e; margin-left:-4px; }
.f_menu li:first-child a { color:#DF107D; font-weight:bold; }
.f_menu li:last-child { border:none; }
.f_menu li a { color:#e4e4e4; }
.site_link { position:absolute; top:30px; right:0; z-index:1; } /* absolute 하면 굳이 display:block 안해줘도 됌 */
.addr, .copyright { line-height:20px; color:#9f9f9f; }








